
@{
    ViewBag.Title = "Index";

}
@Html.Hidden("makeId", null)

<h2>Index</h2>

<p class="btn-blue">Btn test</p>

<p class="btn-white">Btn test</p>

<p class="btn-magenta">Btn test</p>

<p class="btn-teal">Btn test</p>

<p class="btn-green">Btn test</p>

<p class="btn-mint">Btn test</p>

<p class="btn-black">Btn test</p>

@Html.DropDownList("Makes", (IEnumerable<SelectListItem>)ViewBag.Makes, htmlAttributes: new { @class = "form-control" })
<select class="form-control" id="Models"></select>

<script src="~/scripts/jquery-3.1.0.js"></script>
<script>
    $('#Makes').change(function () {
        $.ajax({
            type: "POST",
            url: "/Default/GetModel",
            data: { "make": $('#Makes').val() },
            success: function (data) {
                var makes = $.parseJSON(data);

                var listItems = "";
                for (var i = 0; i < makes.length; i++) {
                    listItems += "<option value='" + makes[i] + "'>" + makes[i] + "</option>";
                }
                $("#Models").html(listItems);
            }
        })
    });
</script>