
@{
    ViewBag.Title = "Index";

}
@Html.Hidden("makeId", null)

<h2>Index</h2>

<p class="btn-blue">Btn test</p>

<p class="btn-white">Btn test</p>

<p class="btn-magenta">Btn test</p>

<p class="btn-teal">Btn test</p>

<p class="btn-green">Btn test</p>

<p class="btn-mint">Btn test</p>

<p class="btn-black">Btn test</p>

<div id="MakeList" class="dropdown">
    <button class="btn-white dropdown-toggle" type="button" id="ddlMakes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span id="CurrentMakeSelection">Select a Make</span>
        <span class="caret pull-right"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="ddlMakes">
        @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.Makes)
        {
            <li id="@item.Value"><a id="@item.Value" href="#">@item.Text</a></li>
        }
    </ul>
</div>

<div id="ModelList" class="dropdown">
    <button class="btn-white dropdown-toggle" type="button" id="ddlModels" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span id="CurrentModelSelection">Select a Make</span>
        <span class="caret pull-right"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="ddlModels">
    </ul>
</div>

<select class="form-control" id="Models"></select>

<script src="~/scripts/jquery-3.1.0.js"></script>
<script>
    $(document).on('click', '#MakeList.dropdown li > a', function (e) {
        $('#CurrentMakeSelection').text($(this).text());

        $.ajax({
            type: "POST",
            url: "/Default/GetModel",
            data: { "make": $(this).attr('id') },
            success: function (data) {
                var models = $.parseJSON(data);
                alert(models);

                for (var i = 0; i < models.length; i++) {
                    $('#ModelList.dropdown .dropdown-menu').append("<li id='" + models[i] + "'><a id='" + models[i] + "' href='#'>" + models[i] + "</a></li>")
                }
            }
        });
    });

    $(document).on('click', '#ModelList.dropdown li > a', function (e) {
        $('#CurrentModelSelection').text($(this).text());
    });
</script>