
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p class="btn-blue">Btn test</p>

<p class="btn-white">Btn test</p>

<p class="btn-magenta">Btn test</p>

<p class="btn-teal">Btn test</p>

<p class="btn-green">Btn test</p>

<p class="btn-mint">Btn test</p>

<p class="btn-black">Btn test</p>