@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400,300);
@import url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic);
/* Color Scheme START */
/* Color Scheme END */
/* Mixins START */
/* Mixins END */
html {
  height: 100%; }

body {
  display: table;
  height: 100%;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 20px;
  font-family: "Gentium Book Basic", serif;
  font-weight: 400; }

a, a:hover, a:focus, a:active {
  text-decoration: none; }

header, thead, h1, h2, h3, h4, h5, h6, th, nav, .nav, strong, .strong {
  font-family: "Open Sans", sans-serif; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px; }

.page-row {
  display: table-row;
  height: 1px; }

.page-row-expanded {
  height: 100%; }

.navbar-brand {
  height: 80px; }

.navbar .nav > li > a {
  padding: 30px 15px; }

.navbar-form {
  padding: 10px 15px; }

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0; }

.navbar-brand > img {
  height: 100%; }

a:hover, a:active {
  color: #3498db !important; }

/* Buttons START */
.btn, .btn-white, .btn-magenta, .btn-teal, .btn-blue, .btn-green, .btn-mint, .btn-black {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-top: 0px solid transparent;
  border-bottom: 4px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  color: #333; }

.btn-white {
  border-color: #bdc3c7;
  background-color: #ecf0f1; }

.btn-white:hover,
.btn-white:active {
  border-color: #a1aab0;
  background-color: #cfd9db;
  color: #333 !important; }

.btn-magenta {
  border-color: #8A48A2;
  background-color: #975AAC;
  color: #ecf0f1; }

.btn-magenta:hover,
.btn-magenta:active {
  border-color: #6c387f;
  background-color: #7b478c;
  color: #ecf0f1; }

.btn-teal {
  border-color: #3B606E;
  background-color: #406D7B;
  color: #ecf0f1; }

.btn-teal:hover,
.btn-teal:active {
  border-color: #29434d;
  background-color: #2f4f59;
  color: #ecf0f1; }

.btn-blue {
  border-color: #2980b9;
  background-color: #3498db;
  color: #ecf0f1; }

.btn-blue:hover,
.btn-blue:active {
  border-color: #20638f;
  background-color: #217dbb;
  color: #ecf0f1; }

.btn-green {
  border-color: #36AA69;
  background-color: #3EC87A; }

.btn-green:hover,
.btn-green:active {
  border-color: #2a8351;
  background-color: #2fa462;
  color: #333; }

.btn-mint {
  border-color: #2A9C83;
  background-color: #30B89A;
  color: #ecf0f1; }

.btn-mint:hover,
.btn-mint:active {
  border-color: #1f7461;
  background-color: #259078;
  color: #ecf0f1; }

.btn-black {
  border-color: #2A2A2A;
  background-color: #2E2E2E;
  color: #ecf0f1; }

.btn-black:hover,
.btn-black:active {
  border-color: #111111;
  background-color: #151515;
  color: #ecf0f1; }

/* Buttons END */

